<div>
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0
    </div>
    <strong>Copyright &copy; 2016 <a target="_blank" href="http://andeansystems.com">Andean Systems</a>.</strong> All rights
    reserved.
</div>
