<section class="content-header">
    <section class="content" ng-controller="logoperacion_controller as ctrl" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary margin-top">
                    <div class="box-header with-border">
                        <h3 class="box-title">Log Operación</h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="pull-right">Tipo de Operación</h5>
                            </div>
                            <div class="col-md-3">
                                <select style="margin-bottom: 15px;" class="form-control" ng-model="ctrl.operacion.TipoOperacion" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listTipoOperacion">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <h5 class="pull-right">N. de Operación</h5>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="ctrl.operacion.NumeroOperacion" placeholder="Operación">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="search" id="search-btn" class="btn btn-default" ng-click="ctrl.buscarLogOperacion(ctrl.operacion)"><i class="fa fa-search" data-placement="top" data-toggle="tooltip" title="Buscar"></i></button>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="grid" style="font-size: 12px; height: 400px" ui-grid="ctrl.gridOptions" ui-grid-pagination ui-grid-auto-resize></div>

                </div>
            </div>
        </div>
    </section>
</section>
@section Scripts{
    <script src="~/scripts/appjs/logoperacion-controller.js"></script>
}