@model Gdoc.Entity.Models.Usuario
<section class="content-header">
    <section class="content" ng-controller="firma_controller as ctrl" ng-cloak>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary margin-top">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cambiar Firma Electronica</h3>
                            <button class="btn btn-default pull-right" ng-click="ctrl.grabar()"><span class="glyphicon glyphicon-floppy-saved" data-placement="top" data-toggle="tooltip" title="Confirmar"></span></button>
                         </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 margin-bottom">
                                    <div>
                                        <form role="form">
                                            <div class="box-body no-padding">
                                                <div class="form-group no-margin-bottom">
                                                    <label class="col-sm-12">Usuario</label>
                                                    <div class="col-sm-12">
                                                        @Html.TextBox("StudentName", Session["NombreUsuario"], new { @class = "form-control", disabled = "true" })
                                                        @*<input type="text" class="form-control" ng-model="ctrl.usuario.NombreUsuario" disabled="true" />*@
                                                    </div>
                                                </div>
                                                <div class="form-group no-margin-bottom">
                                                    <label class="col-sm-12">Firma Electronica Anterior</label>
                                                    <div class="col-md-12">
                                                        <img ng-src="{{ctrl.imagen}}" style="border: double; max-width: 100%; height: auto;" />
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input style="margin-top:10px" type="text" class="form-control" disabled="true" ng-model="ctrl.usuario.FirmaElectronica">
                                                        @*<input type="file" class="file" disabled="true" data-show-upload="false"  >*@
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="control-label">Nueva Firma Electronica</label>
                                                        <input type="text" class="form-control" ng-model="ctrl.usuario.FirmaElectronicaNueva">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="control-label">Adjuntar Firma</label>
                                                        <input type="file" class="file" data-show-upload="false" id="input_file" onchange="ReadFileToBinary(this)">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>
@section Scripts{
    <script src="~/scripts/appjs/firma-controller.js"></script>
}


