<div class="modal fade" id="modal_contenido">
    <div class="modal-dialog modal-lg" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Registro Personal</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="frmDatos" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Datos de Usuario</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" novalidate name="frmConcepto">
                                    <div class="box-body no-padding">

                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Empresa <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.IDEmpresa" ng-options="emp.IDEmpresa as emp.RazonSocial for emp in ctrl.listEmpresa" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Sede <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.IDSede" ng-options="sede.IDSede as sede.NombreSede for sede in ctrl.listSede" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Nombre <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Nombre" ng-model="ctrl.personal.NombrePers" required>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Apellido <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Apellido" ng-model="ctrl.personal.ApellidoPersonal" required>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Sexo <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.SexoPersonal" required>
                                                    <option value="">Seleccione</option>
                                                    <option value="H">HOMBRE</option>
                                                    <option value="M">MUJER</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Email Trabajo <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" placeholder="Email Trabajo" ng-model="ctrl.personal.EmailTrabrajo" required>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Email Personal</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" placeholder="Email Personal" ng-model="ctrl.personal.EmailPersonal">
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Fecha de Nacimiento <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                @*<input type="text" class="form-control" placeholder="Abreviatura" ng-model="ctrl.personal.FechaNacimiento">*@
                                                <md-datepicker ng-model="ctrl.personal.FechaNacimiento" ></md-datepicker>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Celular 1</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Celular 1" ng-model="ctrl.personal.CelularPersonalUno">
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Celular 2</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Celular 2" ng-model="ctrl.personal.CelularPersonalDos">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.col -->

                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Datos de Personal</h3>
                                    @*<button class="btn btn-default pull-right" ng-click="ctrl.grabar(2)"><span class="glyphicon glyphicon-floppy-saved" data-placement="top" data-toggle="tooltip" title="Guardar enviar"></span></button>*@
                                    <button class="btn btn-default pull-right" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabar()"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
                                </div><!-- /.box-header -->

                                <form role="form">
                                    <div class="box-body no-padding">

                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Telefono</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Telefono" ng-model="ctrl.personal.TelefonoPersonal">
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Anexo</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Anexo" ng-model="ctrl.personal.AnexoPersonal">
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Area <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.CodigoArea" ng-options="ta.CodiConcepto as ta.DescripcionConcepto for ta in ctrl.listArea" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Cargo <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.CodigoCargo" ng-options="tca.CodiConcepto as tca.DescripcionConcepto for tca in ctrl.listTipoCargo" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Clase <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.ClasePersonal" ng-options="ca.CodiConcepto as ca.DescripcionConcepto for ca in ctrl.listClaseUsuario" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Tipo de Identificacion <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="ctrl.personal.TipoIdentificacion" ng-options="ca.CodiConcepto as ca.DescripcionConcepto for ca in ctrl.listTipoIdentificacion" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Numero de Identificacion <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Numero de Identificacion" ng-model="ctrl.personal.NumeroIdentificacion" required>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Dirección <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="ctrl.personal.DireccionPersonal" required>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="col-sm-12">Ubigeo <span class="text-danger">(*)</span></label>
                                            <div class="col-sm-4">
                                                <select class="form-control" ng-model="ctrl.codigodepartamento" ng-options="dep.CodigoDepartamento as dep.DescripcionUbicacion for dep in ctrl.listDepartamento" ng-change="ctrl.obtenerProvincia(ctrl.codigodepartamento)" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control" ng-model="ctrl.codigoprovincia" ng-options="dep.CodigoProvincia as dep.DescripcionUbicacion for dep in ctrl.listPronvincia" ng-change="ctrl.obtenerDistrito(ctrl.codigodepartamento, ctrl.codigoprovincia)" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control" ng-model="ctrl.codigodistrito" ng-options="dep.CodigoDistrito as dep.DescripcionUbicacion for dep in ctrl.listDistrito" required>
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div><!-- /.modal-content -->
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
