<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Personal</h3>
                <button class="btn btn-default pull-right btn-sm" ng-click="ctrl.nuevoPersonal()"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
            </div>
            <div class="box-body no-padding">

                @*<div class="row">
                    <br>

                    <div class="col-md-2">
                        <h5 class="pull-right">Nombre</h5>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Nombre" ng-model="ctrl.personal.NombrePers">
                    </div>

                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="ctrl.personal.NombrePers" placeholder="Nombre" disabled="true">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                        <button type="submit" name="search" id="search-btn" class="btn btn-default" ng-click="ctrl.buscarPersonal(ctrl.usuario)"><i class="fa fa-search" data-placement="top" data-toggle="tooltip" title="Buscar"></i></button>
                        <button class="btn btn-default" ng-click="ctrl.nuevoPersonal()"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>

                    </div>

                </div>*@
            </div>
            <div class="grid" style="font-size: 12px; height: 400px" ui-grid="ctrl.gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>


        </div>

    </div>
</div>
