
<section class="content-header">
    <section class="content" ng-controller="personal_controller as ctrl" ng-cloak>
        <!--comienso de cuerpo documento electrocnico-->
        @Html.Partial("_List")

        <!--modal de editor-->
        @Html.Partial("_CreateAndEdit")
    </section>
</section>
@section Scripts{
    <script src="~/scripts/appjs/personal-controller.js"></script>
}



