<form role="form" name="frmDatos" novalidate>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Grupo Virtual</h3>
                <button class="btn btn-default pull-right btn-sm" ng-click="ctrl.CambiarVentana('List')"><i class="fa fa-list-alt" data-placement="top" data-toggle="tooltip" title="Grupos de Trabajo"></i></button>
            </div>

            <div class="box-body">

                <div class="form-group">
                    <label style="font-size:20px" class="col-sm-12">{{ctrl.operacion.TituloOperacion}}</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-12">
                        {{ctrl.operacion.TipoDoc.DescripcionCorta}};
                        {{ctrl.operacion.Prioridad.DescripcionCorta}};
                        {{ctrl.operacion.Estado.DescripcionConcepto}};
                        {{ctrl.operacion.FechaEnvio | date:"dd/MM/yyyy HH:mm"}};
                        <label>
                            Organizado por:
                        </label>
                        <label ng-repeat="item in ctrl.usuarioOrganizador">
                            {{item.Nombre}}
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">
                        Participantes :
                        <label ng-repeat="item in ctrl.usuarioInvitados">
                            {{item.Nombre}} ;
                        </label>
                    </label>
                    
                </div>
            </div>
            <div class="box-footer">
                <div class="col-md-12">
                    <i ng-click="ctrl.mostrarAdjuntosMesa(ctrl.operacion)" class="fa fa-paperclip" style="padding: 4px;font-size: 1.4em;" data-placement="bottom" data-toggle="tooltip" title="Ver Adjuntos"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 margin-top">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Comentarios y Aportes</h3>
                <button class="btn btn-default pull-right btn-sm" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabarComentarioMesa()"><i class="fa fa-paper-plane" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-12">Comentario</label>
                    <div class="col-sm-12">
                        <textarea ng-model="ctrl.mesavirtualComentario.ComentarioMesaVirtual" style="resize:inherit;height:60px" class="form-control" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12">Documento Adjunto</label>
                    <div class="col-sm-12">
                        <input type="file" class="form-control" onchange="ReadFileToBinary(this)" id="input_file2" multiple>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Historial de Comentarios</h3>
                @*<span class="input-group-btn">
                        <button name="search" id="search-btn"  class="btn btn-flat" ng-click="ctrl.recargarComentario()"><i class="fa fa-refresh" data-placement="top" data-toggle="tooltip" title="Refrescar"></i></button>
                    </span>*@
                <button class="btn btn-default pull-right btn-sm" ng-click="ctrl.recargarComentario()"><span class="fa fa-refresh" data-placement="top" data-toggle="tooltip" title="Refrescar"></span></button>
            </div>
            <div class="box-body no-padding">
                <div class="grid" style="font-size: 12px; height: 200px" ui-grid="ctrl.gridComentarios"></div>
            </div>
        </div>
    </div>
    <!--MODAL ADJUNTOS-->
    <div class="modal fade" id="modal_adjuntos">
        <div class="modal-dialog modal-lg" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Documentos Adjuntos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            @*<th>Tipo Archivo</th>*@
                                            <th>Abrir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ctrl.listDocumentoAdjunto">
                                            <td>{{item.NombreOriginal}}</td>
                                            @*<td>{{item.Adjunto.TipoArchivo}}</td>*@
                                            <td>
                                                <i class="fa fa-folder-open-o" ng-click="ctrl.mostrarAdjuntoWindows(item)" style="padding: 4px;font-size: 1.4em;" data-placement="top" data-toggle="tooltip" title="Abrir"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
