<br />
<br />
<br />
<form role="form" name="frmDatos" novalidate>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos del Grupo Virtual</h3>
                    <button class="btn btn-default pull-right" ng-click="ctrl.CambiarVentana('List')"><i class="fa fa-list-alt" data-placement="top" data-toggle="tooltip" title="Lista"></i></button>
                    <button class="btn btn-default pull-right" ng-click="ctrl.nuevo()"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                </div>

                <div class="box-body">

                    <div class="form-group margin-bottom">
                        <label class="col-sm-12">Tipo Grupo<span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <select style="margin-bottom: 15px;" class="form-control" ng-model="ctrl.operacion.TipoDocumento" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listTipoDocumento">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <label class="col-sm-4">Accesso<span class="text-danger">(*)</span></label>
                        <md-radio-group ng-model="ctrl.operacion.AccesoOperacion">
                            <md-radio-button style="display:inline-block;margin-right:2.8em;margin-left:1em;" value="{{ta.CodiConcepto}}" class="standard" ng-repeat="ta in ctrl.listTipoAcceso | limitTo:2">{{ta.DescripcionCorta}} </md-radio-button>
                        </md-radio-group>
                    </div>

                    <div class="form-group no-margin">
                        <label class="col-sm-4">Notificar<span class="text-danger">(*)</span></label>
                        <md-radio-group ng-model="ctrl.operacion.NotificacionOperacion">
                            <md-radio-button style="display:inline-block;margin-right:5em;margin-left:1em;" value="S" class="standard">Si</md-radio-button>
                            <md-radio-button style="display:inline-block;margin-right:2em;margin-left:1em;" value="N" class="standard">No</md-radio-button>

                        </md-radio-group>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Prioridad Atencion <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <select class="form-control" ng-model="ctrl.operacion.PrioridadOperacion" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listPrioridadAtencion">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-6">Estado</label>
                        <label class="col-sm-6">Fecha de Registro</label>
                        
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @*<input type="text" ng-model="ctrl.operacion.EstadoOperacion" ng-init="Creado" ng-disabled="true" class="form-control" placeholder="Creado" />*@
                            <select class="form-control" ng-model="ctrl.operacion.EstadoOperacion" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listEstado" disabled>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaRegistro" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-6">Fecha de Envio</label>
                        <label class="col-sm-6">Fecha Cierre</label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaEnvio" disabled>
                        </div>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaCierre" disabled>
                        </div>
                        @*<div class="col-sm-6">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaCierre" disabled>
                            <div class="input-group date">
                                <md-datepicker ng-model="ctrl.operacion.FechaCierre"></md-datepicker>
                            </div>
                        </div>*@
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Grupo Virtual</h3>
                    <button class="btn btn-default pull-right" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabar(2)"><i class="fa fa-users" data-placement="top" data-toggle="tooltip" title="Compartir"></i></button>
                    <button class="btn btn-default pull-right" ng-click="ctrl.grabar(1)"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
                </div>

                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-12">Titulo <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.TituloOperacion" class="form-control" required>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="col-sm-12">Asunto <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.DescripcionOperacion" class="form-control" required>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="col-sm-12">Organizador <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            @*<input type="text" class="form-control" placeholder="JSANCHEZ">*@
                            <md-content class="autocomplete" layout="column">
                                <md-contact-chips ng-model="ctrl.usuarioOrganizador"
                                                  md-contacts="ctrl.querySearch($query,'U')"
                                                  md-contact-name="Nombre"
                                                  md-highlight-flags="i"
                                                  filter-selected="ctrl.filterSelected"
                                                  placeholder="Organizador">
                                </md-contact-chips>
                            </md-content>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Invitados <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <md-content class="autocomplete" layout="column">
                                <md-contact-chips ng-model="ctrl.usuarioInvitados"
                                                  md-contacts="ctrl.querySearch($query)"
                                                  md-contact-name="Nombre"
                                                  md-highlight-flags="i"
                                                  filter-selected="ctrl.filterSelected"
                                                  placeholder="Invitados">
                                </md-contact-chips>
                            </md-content>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Documento Adjunto</label>
                        <div class="col-sm-12">
                            <label>{{ctrl.listDocumentoAdjunto.length}} adjuntos</label>
                            @*<input type="file" id="input_file" onchange="ReadFileToBinary(this)" multiple style="display:initial;">*@
                            <button class="btn btn-default pull-right" ng-click="ctrl.listarAdjunto()" ng-disabled="false"><i class="fa fa-paperclip" aria-hidden="true" style="font-size:1.5em;" ng-disabled="true"></i></button>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-sm-12">Fecha de Vigencia </label>
                        <div class="col-sm-12">
                            @*<input type="datetime-local" class=" form-control" ng-model="ctrl.operacion.FechaVigente">*@
                            
                            @*<input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>*@
                            <md-datepicker ng-model="ctrl.operacion.FechaVigente"></md-datepicker>

                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <!--MODAL ADJUNTOS-->
        <div class="modal fade" id="modal_adjuntos">
            <div class="modal-dialog modal-lg" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Documentos Adjuntos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">

                                    <div class="margin">
                                        <div class="col-md-10">
                                            <input type="file" id="input_file" onchange="ReadFileToBinary(this)" accept="application/pdf" class="form-control" style="display:initial;">
                                        </div>

                                        <div class="col-md-2">
                                            <button class="btn btn-default pull-right" ng-show="ctrl.agregar" ng-click="ctrl.agregaradjunto()"><i class="fa fa-plus" data-placement="top" data-toggle="tooltip" title="Agregar"></i></button>
                                        </div>
                                    </div>

                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:90%">Nombre</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ctrl.listDocumentoAdjunto">
                                                @*<td>{{item.Adjunto.NombreOriginal}}</td>*@
                                                <td>{{item.NombreOriginal}}</td>
                                                <td>
                                                    <i class="fa fa-folder-open-o" ng-click="ctrl.mostrarAdjuntoWindows(item)" ng-show="ctrl.mostrar" style="padding: 4px;font-size: 1.4em;" data-placement="top" data-toggle="tooltip" title="Abrir"></i>
                                                    <i class="fa fa-times" ng-click="ctrl.eliminarAdjunto($index)" ng-show="ctrl.eliminar" style="padding: 4px;font-size: 1.4em;" data-placement="top" data-toggle="tooltip" title="Borrar"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>