<form role="form" name="frmDatos" novalidate>
    <div class="row  margin-top">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos de la Mesa Virtual</h3>
                    <button class="btn btn-default pull-right" ng-click="ctrl.CambiarVentana('List')"><i class="fa fa-list-alt" data-placement="top" data-toggle="tooltip" title="Lista"></i></button>
                    <button class="btn btn-default pull-right" ng-click="ctrl.nuevo()"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                </div>

                <div class="box-body">

                    <div class="form-group margin-bottom">
                        <label class="col-sm-12">Tipo Mesa Virtual <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <select style="margin-bottom: 15px;" class="form-control" ng-model="ctrl.operacion.TipoDocumento" ng-options="td.CodiConcepto as td.DescripcionCorta for td in ctrl.listTipoMesaVirtual">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <label class="col-sm-4">Tipo de Accesso <span class="text-danger">(*)</span></label>
                        <md-radio-group ng-model="ctrl.operacion.AccesoOperacion">
                            <md-radio-button style="display:inline-block;margin-right:2em;margin-left:1em;" value="{{ta.CodiConcepto}}" class="standard" ng-repeat="ta in ctrl.listTipoAcceso | limitTo:2">{{ta.DescripcionCorta}} </md-radio-button>
                        </md-radio-group>
                    </div>

                    <div class="form-group no-margin">
                        <label class="col-sm-4">Notificar Acciones <span class="text-danger">(*)</span></label>
                        <md-radio-group ng-model="ctrl.operacion.NotificacionOperacion">
                            <md-radio-button style="display:inline-block;margin-right:5em;margin-left:1em;" value="0" class="standard">Si</md-radio-button>
                            <md-radio-button style="display:inline-block;margin-right:2em;margin-left:1em;" value="1" class="standard">No</md-radio-button>

                        </md-radio-group>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Prioridad Atencion <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <select class="form-control" ng-model="ctrl.operacion.PrioridadOperacion" ng-options="td.CodiConcepto as td.DescripcionCorta for td in ctrl.listPrioridadAtencion">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-12">Estado</label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.EstadoOperacion" ng-init="Creado" ng-disabled="true" class="form-control" placeholder="Creado" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Documento Adjunto</label>
                        <div class="col-sm-12">
                            <input type="file" class="form-control" data-icon="false" onchange="ReadFileToBinary(this)" id="input_file" multiple>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Mesa Virtual</h3>
                    <button class="btn btn-default pull-right" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabar(2)"><i class="fa fa-users" data-placement="top" data-toggle="tooltip" title="Compartir"></i></button>
                    <button class="btn btn-default pull-right" ng-click="ctrl.grabar(1)"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
                </div>

                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-12">Titulo <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.TituloOperacion" class="form-control" required>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="col-sm-12">Asunto <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.DescripcionOperacion" class="form-control" required>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="col-sm-12">Organizador <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            @*<input type="text" class="form-control" placeholder="JSANCHEZ">*@
                            <md-content class="autocomplete" layout="column">
                                <md-contact-chips ng-model="ctrl.usuarioOrganizador"
                                                  md-contacts="ctrl.querySearch($query,'U')"
                                                  md-contact-name="Nombre"
                                                  md-highlight-flags="i"
                                                  filter-selected="ctrl.filterSelected"
                                                  placeholder="Organizador">
                                </md-contact-chips>
                            </md-content>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Invitados <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <md-content class="autocomplete" layout="column">
                                <md-contact-chips ng-model="ctrl.usuarioInvitados"
                                                  md-contacts="ctrl.querySearch($query)"
                                                  md-contact-name="Nombre"
                                                  md-highlight-flags="i"
                                                  filter-selected="ctrl.filterSelected"
                                                  placeholder="Invitados">
                                </md-contact-chips>
                            </md-content>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-sm-12">Fecha de Vigencia </label>
                        <div class="col-sm-12">
                            @*<input type="date" class="form-control" ng-model="ctrl.operacion.FechaVigente">*@
                            <div class="input-group date">
                                @*<input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>*@
                                <md-datepicker ng-model="ctrl.operacion.FechaVigente"></md-datepicker>

                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-12">Fecha de Cierre</label>
                        <div class="col-sm-12">
                            <div class="input-group date">
                                @*<input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>*@
                                <md-datepicker ng-model="ctrl.operacion.FechaCierre"></md-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-sm-12">Fecha de Registro</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaRegistro" disabled="true">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-sm-12">Fecha de Envio</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaEnvio" disabled="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>