<div class="col-md-12">
    <div class="box box-primary margin-top">
        <div class="box-header with-border">
            <h3 class="box-title">Mis Grupos de Trabajo</h3>
            <button class="btn btn-default pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="ctrl.CambiarVentana('CreateAndEdit')">
                <i class="fa fa-file" data-placement="top" data-toggle="tooltip" title="Nuevo"></i>
            </button>   
        </div>
        <div class="box-body no-padding">
            <div class="grid" style="font-size: 12px; height: 400px" ui-grid="ctrl.gridOptions" ui-grid-pagination ui-grid-auto-resize></div>
        </div>

    </div>
</div>
