<section class="content-header">
    <section class="content" ng-controller="mesavirtual_controller as ctrl" layout="column" ng-cloak>
        <div class="row " ng-if="ctrl.visible == 'List'">
            @Html.Partial("_List")
        </div>
        <div class="row" ng-if="ctrl.visible == 'CreateAndEdit'">
            @Html.Partial("_CreatAndEdit")
        </div>
    </section>



</section>
@section Scripts{
    <script src="~/scripts/appjs/mesavirtual-controller.js"></script>
}

