<div class="modal fade" id="modal_contenido">
    <div class="modal-dialog modal-lg" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Registro de Empresa</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Datos de la Empresa</h3>
                                <button class="btn btn-default pull-right" ng-click="ctrl.grabar()" ng-disabled="frmEmpresa.$invalid"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
                              </div>
                            <form name="frmEmpresa" novalidate>

                                <div class="form-group no-margin-bottom">
                                    <label class="col-sm-12">Ruc Empresa <span class="text-danger">(*)</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ruc Empresa" ng-model="ctrl.empresa.RucEmpresa" required>
                                    </div>
                                </div>

                                <div class="form-group no-margin-bottom">
                                    <label class="col-sm-12">Razon Social <span class="text-danger">(*)</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Razon Social" ng-model="ctrl.empresa.RazonSocial" required>
                                    </div>
                                </div>

                                <div class="form-group no-margin-bottom">
                                    <label class="col-sm-12">Direccion <span class="text-danger">(*)</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Direccion" ng-model="ctrl.empresa.DireccionEmpresa" required>
                                    </div>
                                </div>

                                <div class="form-group no-margin-bottom">
                                    <label class="col-sm-12">Telefono</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Telefono" ng-model="ctrl.empresa.TelefonoEmpresa">
                                    </div>
                                </div>

                                <div class="form-group no-margin-bottom">
                                    <label class="col-sm-12">Ubigeo <span class="text-danger">(*)</span> </label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="ctrl.codigodepartamento" ng-options="dep.CodigoDepartamento as dep.DescripcionUbicacion for dep in ctrl.listDepartamento" ng-change="ctrl.obtenerProvincia(ctrl.codigodepartamento)" required>
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="ctrl.codigoprovincia" ng-options="dep.CodigoProvincia as dep.DescripcionUbicacion for dep in ctrl.listPronvincia" ng-change="ctrl.obtenerDistrito(ctrl.codigodepartamento, ctrl.codigoprovincia)" required>
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="ctrl.codigodistrito" ng-options="dep.CodigoDistrito as dep.DescripcionUbicacion for dep in ctrl.listDistrito" required>
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group no-margin-bottom">
                                    <label class="col-sm-12">Estado</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-model="ctrl.empresa.EstadoEmpresa" required>
                                            <option value="">Seleccione</option>
                                            <option value="0">CREADO</option>
                                            <option value="1">ACTIVO</option>
                                            <option value="2">INACTIVO</option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <span class="text-danger">(*) Campos obligatorios</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
