
<!-- Content Header (Page header) -->
<section class="content-header">
    <section class="content" ng-controller="empresa_controller as ctrl" ng-cloak>
        <!--comienso de cuerpo documento electrocnico-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary margin-top">
                    <div class="box-header with-border">
                        <h3 class="box-title">Empresas</h3>
                    </div>
                    <div class="box-body no-padding">

                        <div class="row">
                            <br>

                            <div class="col-md-2">
                                <h5 class="pull-right">Id Empresa</h5>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Empresa">
                            </div>

                            <div class="col-md-2">
                                <h5 class="pull-right">Razon Social</h5>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Razon Social">

                            </div>

                            <div class="col-md-2">
                                <button type="submit" name="search" id="search-btn" class="btn btn-default"><i class="fa fa-search" data-placement="top" data-toggle="tooltip" title="Buscar"></i></button>
                                <button class="btn btn-default" data-toggle="modal" data-target="#modal_contenido"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                            </div>
                        </div>

                        <br>

                    </div>

                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>Id Empresa<i class="fa fa-sort"></i></th>
                            <th>Ruc Empresa<i class="fa fa-sort"></i></th>
                            <th>Razon Social<i class="fa fa-sort"></i></th>
                            <th>Direccion<i class="fa fa-sort"></i></th>
                            <th>Telefono<i class="fa fa-sort"></i></th>
                            <th>Ubigeo<i class="fa fa-sort"></i></th>
                            <th>Estado<i class="fa fa-sort"></i></th>

                            <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ctrl.listEmpresa">
                                    <td class="mailbox-date">{{item.IDEmpresa}}</td>
                                    <td class="mailbox-subject">{{item.RucEmpresa}}</td>
                                    <td class="mailbox-subject">{{item.RazonSocial}}</td>
                                    <td class="mailbox-subject">{{item.DireccionEmpresa}}</td>
                                    <td class="mailbox-subject">{{item.TelefonoEmpresa}}</td>
                                    <td class="mailbox-subject">{{item.CodigoUbigeo}}</td>
                                    <td class="mailbox-subject">{{item.EstadoEmpresa}}</td>
                                    <td>
                                        <i class="fa fa-pencil-square-o  " data-placement="top" data-toggle="tooltip" title="Editar"></i>
                                        <i class="fa fa-times  " data-placement="top" data-toggle="tooltip" title="Borrar"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>

        <!--modal de editor-->
        <div class="modal fade" id="modal_contenido">
            <div class="modal-dialog modal-lg" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registro de Empresa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Datos de la Empresa</h3>
                                        <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-floppy-saved" data-placement="top" data-toggle="tooltip" title="Guardar enviar"></span></button>
                                        <button class="btn btn-default pull-right"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Id Empresa</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Id Empresa ">
                                        </div>

                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Ruc Empresa</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Ruc Empresa">
                                        </div>
                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Razon Social</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Razon Social">
                                        </div>
                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Direccion</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Direccion">
                                        </div>
                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Telefono</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Telefono">
                                        </div>
                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Ubigeo</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>Peru</option>
                                                <option>Chile</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin-bottom">
                                        <label class="col-sm-3">Estado</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>Creado</option>
                                                <option>Activo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.col -->

                            <div class="modal-footer">
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </section>
</section>
@section Scripts{
    <script src="~/scripts/appjs/empresa-controller.js"></script>
}
