<!-- Content Header (Page header) -->
<section class="content-header">
    <section class="content" ng-controller="empresa_controller as ctrl" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary margin-top">
                    <div class="box-header with-border">
                        <div class="col-md-10">
                            <h3 class="box-title">Empresas</h3>
                        </div>
                        
                        <button class="btn btn-default" style="right:auto" ng-click="ctrl.CambiarVentana()"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                    </div>
                    <div class="box-body no-padding">

                        @*<div class="row">
                            <br>

                            <div class="col-md-2">
                                <h5 class="pull-right">Nro RUC</h5>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Nro RUC">
                            </div>

                            <div class="col-md-2">
                                <h5 class="pull-right">Razon Social</h5>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Razon Social">

                            </div>

                            <div class="col-md-2">
                                <button type="submit" name="search" id="search-btn" class="btn btn-default"><i class="fa fa-search" data-placement="top" data-toggle="tooltip" title="Buscar"></i></button>
                                <button class="btn btn-default" data-toggle="modal" data-target="#modal_contenido"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                            </div>
                        </div>*@


                    </div>
                    <div class="grid" style="font-size: 12px; height: 400px" ui-grid="ctrl.gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
                    
                </div>
            </div>
        </div>
        <!--modal de editor-->
        @Html.Partial("_CreateAndEdit")
    </section>
</section>
@section Scripts{
    <script src="~/scripts/appjs/empresa-controller.js"></script>
}
