<br />
<br />
<br />
<form role="form" name="frmDatos" novalidate>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos del Documento</h3>
                    <button class="btn btn-default pull-right" ng-click="ctrl.CambiarVentana('List')"><i class="fa fa-list-alt" data-placement="top" data-toggle="tooltip" title="Lista"></i></button>
                    <button class="btn btn-default pull-right" ng-click="ctrl.nuevo()"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                </div><!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">


                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Tipo de Documento <span class="text-danger">(*)</span></label>
                        <div class="col-md-12">
                            <select class="form-control" ng-model="ctrl.operacion.TipoDocumento" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listTipoDocumento">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Tipo de Comunicacion <span class="text-danger">(*)</span></label>
                        <div class="col-md-12">
                            <select class="form-control" ng-model="ctrl.operacion.TipoComunicacion" ng-options="tc.CodiConcepto as tc.DescripcionConcepto for tc in ctrl.listTipoComunicacion">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <label style="display:block;" class="col-md-12">Tipo de Accesso <span class="text-danger">(*)</span></label>
                        <div class="col-md-12">
                            <md-radio-group ng-model="ctrl.operacion.AccesoOperacion">
                                <md-radio-button style="display:inline-block;margin-right:2em;" value="{{ta.CodiConcepto}}" class="standard" ng-repeat="ta in ctrl.listTipoAcceso ">{{ta.DescripcionCorta}} </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Prioridad de Atención <span class="text-danger">(*)</span></label>
                        <div class="col-md-12">
                            <select class="form-control" ng-model="ctrl.operacion.PrioridadOperacion" ng-options="pa.CodiConcepto as pa.DescripcionConcepto for pa in ctrl.listPrioridadAtencion ">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Plazo de Confirmación</label>
                        <div class="col-md-12">
                            @*@Html.TextBox("StudentName", System.DateTime.Now.AddDays(5), new { @class = "form-control", disabled = "true" }) <!--FALTA TERMINAR PASAR PARAMETRO DE TABLA GENERAL-->*@
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaVigente" disabled="true">

                            @*<md-datepicker ng-model="ctrl.operacion.FechaVigente" disabled></md-datepicker>*@

                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Fecha de Envio</label>
                        <div class="col-md-12">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaEnvio" disabled="true">
                            @*<md-datepicker ng-model="ctrl.operacion.FechaEnvio" disabled></md-datepicker>*@
                        </div>
                    </div>

                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Fecha de Creación</label>

                        <div class="col-md-12">
                            <input type="date" class="form-control" ng-model="ctrl.operacion.FechaRegistro" disabled="true">
                            @*<md-datepicker ng-model="ctrl.operacion.FechaRegistro" disabled></md-datepicker>*@
                        </div>

                    </div>

                    <div class="form-group no-margin-bottom">
                        <label class="col-md-12">Estado</label>
                        <div class="col-md-12">
                            @*<input type="text" ng-model="ctrl.operacion.EstadoOperacion" ng-init="Creado" ng-disabled="true" class="form-control" placeholder="Creado" />*@
                            <select class="form-control" ng-model="ctrl.operacion.EstadoOperacion" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listEstado" disabled>
                                @*<option value=""></option>*@
                            </select>
                         </div>
                    </div>
                </div>
                <!--asdasd-->

            </div>
        </div><!-- /.col -->
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Documento Electronico</h3>
                    <button ng-model="ctrl.Enviar" class="btn btn-default pull-right" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabar(2)"><span class="glyphicon glyphicon-floppy-saved" data-placement="top" data-toggle="tooltip" title="Guardar enviar"></span></button>
                    <button class="btn btn-default pull-right" ng-click="ctrl.grabar(1)"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
                </div><!-- /.box-header -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Datos">Datos</a></li>
                    <li><a data-toggle="tab" href="#Contenido">Contenido <span class="text-danger">(*)</span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="Datos" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-12">Titulo <span class="text-danger">(*)</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" ng-model="ctrl.operacion.TituloOperacion" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12">Asunto <span class="text-danger">(*)</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" ng-model="ctrl.operacion.DescripcionOperacion" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12">Documento Adjunto</label>
                                    <div class="col-sm-12">
                                        <input type="file" id="input_file" onchange="ReadFileToBinary(this)" multiple style="display:initial;">
                                        <button class="btn btn-default pull-right"  ng-click="ctrl.listarAdjunto(ctrl.operacion)" ng-disabled="false"><i class="fa fa-paperclip" aria-hidden="true" style="font-size:1.5em;" ng-disabled="true"></i></button>
                                        <button class="btn btn-default pull-right" ng-click="ctrl.agregarAdjunto(ctrl.operacion)" ng-disabled="false"><i class="fa fa-plus" aria-hidden="true" style="font-size:1.5em;" ng-disabled="true"></i></button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12">Remitente <span class="text-danger">(*)</span></label>
                                    <div style="font-size:12px" class="col-sm-12">
                                        <md-content class="autocomplete" layout="column">
                                            <md-contact-chips ng-model="ctrl.usuarioRemitentes"
                                                              md-contacts="ctrl.querySearch($query)"
                                                              md-contact-name="Nombre"
                                                              md-highlight-flags="i"
                                                              filter-selected="ctrl.filterSelected"
                                                              placeholder="Remitente">
                                            </md-contact-chips>
                                        </md-content>
                                    </div><!-- /.form-group -->
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12">Destinatario <span class="text-danger">(*)</span></label>
                                    <div style="font-size:12px" class="col-sm-12">
                                        <md-content style="font-size:12px" class="autocomplete" layout="column" required>
                                            <md-contact-chips ng-model="ctrl.usuarioDestinatarios"
                                                              md-contacts="ctrl.querySearch($query)"
                                                              md-contact-name="Nombre"
                                                              md-highlight-flags="i"
                                                              filter-selected="ctrl.filterSelected"
                                                              placeholder="Destinatario">
                                            </md-contact-chips>
                                        </md-content>
                                    </div><!-- /.form-group -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="Contenido" class="tab-pane fade">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12"></label>
                                    <div class="col-sm-12 margin-bottom">
                                        <textarea id="editor1" name="editor1" style="resize:none" rows="18" cols="80" class="form-control" required></textarea>
                                        <script>
                                        try {
                                            CKEDITOR.instances['editor1'].destroy(true);
                                        } catch (e) { }
                                        CKEDITOR.replace('editor1', {
                                            removeButtons: 'Save,Print'
                                        });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL ADJUNTOS-->
        <div class="modal fade" id="modal_adjuntos">
            <div class="modal-dialog modal-lg" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Documentos Adjuntos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Tipo Archivo</th>
                                                <th>Abrir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ctrl.listDocumentoAdjunto">
                                                <td>{{item.Adjunto.NombreOriginal}}</td>
                                                <td>{{item.Adjunto.TipoArchivo}}</td>
                                                <td>
                                                    @*<a class="fa fa-folder-open-o" ng-href="http://192.168.100.29:85/ADJUNTOS/{{item.Archivo}}" style="padding: 4px;font-size: 1.4em;" target="_blank" data-placement="top" data-toggle="tooltip" title="Abrir"></a>*@
                                                    <i class="fa fa-folder-open-o" ng-click="ctrl.mostrarAdjuntoWindows(item.Archivo)" style="padding: 4px;font-size: 1.4em;" data-placement="top" data-toggle="tooltip" title="Abrir"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>