<br />
<br />
<br />
<form role="form" name="frmDatos" novalidate>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Datos del Documento</h3>
                <button class="btn btn-default pull-right" ng-click="ctrl.CambiarVentana('List')"><i class="fa fa-list-alt" data-placement="top" data-toggle="tooltip" title="Lista"></i></button>

            </div><!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">


                <div class="form-group no-margin-bottom">
                    <label>Tipo de Documento <span class="text-danger">(*)</span></label>
                    <select class="form-control" ng-model="ctrl.operacion.TipoDocumento" ng-options="td.CodiConcepto as td.DescripcionConcepto for td in ctrl.listTipoDocumento">
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="form-group no-margin-bottom">
                    <label>Tipo de Comunicacion <span class="text-danger">(*)</span></label>
                    <select class="form-control" ng-model="ctrl.operacion.TipoComunicacion" ng-options="tc.CodiConcepto as tc.DescripcionConcepto for tc in ctrl.listTipoComunicacion">
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="form-group no-margin-bottom">
                    <label style="display:block;">Tipo de Accesso <span class="text-danger">(*)</span></label>
                    <md-radio-group ng-model="ctrl.operacion.AccesoOperacion">
                        <md-radio-button style="display:inline-block;margin-right:2em;" value="{{ta.CodiConcepto}}" class="standard" ng-repeat="ta in ctrl.listTipoAcceso ">{{ta.DescripcionConcepto}} </md-radio-button>
                    </md-radio-group>
                </div>

                <div class="form-group no-margin-bottom">
                    <label>Prioridad de Atención <span class="text-danger">(*)</span></label>
                    <select class="form-control" ng-model="ctrl.operacion.PrioridadOperacion" ng-options="pa.CodiConcepto as pa.DescripcionConcepto for pa in ctrl.listPrioridadAtencion ">
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="form-group no-margin-bottom">
                    <label>Plazo de Confirmación</label>
                    @Html.TextBox("StudentName", System.DateTime.Now.AddDays(5), new { @class = "form-control", disabled = "true" }) <!--FALTA TERMINAR PASAR PARAMETRO DE TABLA GENERAL-->
                    @*<input type="text" class="form-control" disabled="true" placeholder="12/05/08">*@
                </div>

                <div class="form-group no-margin-bottom">
                    <label>Fecha de Envio</label>
                    <input type="text" class="form-control" disabled="true" placeholder="12/05/08">
                </div>

                <div class="form-group no-margin-bottom">
                    <label>Fecha de Creación</label>
                    <input type="text" class="form-control" disabled="true" placeholder="12/05/08">
                </div>

                <div class="form-group no-margin-bottom">
                    <label>Estado</label>
                    <input type="text" ng-model="ctrl.operacion.EstadoOperacion" ng-init="Creado" ng-disabled="true" class="form-control" placeholder="Creado" />
                </div>
            </div>
            <!--asdasd-->

        </div>
    </div><!-- /.col -->
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" >Documento Electronico</h3>
                <button ng-model="ctrl.Enviar" class="btn btn-default pull-right" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabar(2)"><span class="glyphicon glyphicon-floppy-saved" data-placement="top" data-toggle="tooltip" title="Guardar enviar"></span></button>
                <button class="btn btn-default pull-right" ng-click="ctrl.grabar(1)"><i class="fa fa-floppy-o" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>
            </div><!-- /.box-header -->
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="col-sm-12">Titulo <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.TituloOperacion" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Asunto <span class="text-danger">(*)</span></label>
                        <div class="col-sm-12">
                            <input type="text" ng-model="ctrl.operacion.DescripcionOperacion" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Documento Adjunto</label>
                        <div class="col-sm-12">
                            <input type="file" id="input_file" onchange="ReadFileToBinary(this)" multiple>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Remitente <span class="text-danger">(*)</span></label>
                        <div style="font-size:12px" class="col-sm-12">
                            <md-content class="autocomplete" layout="column">
                                <md-contact-chips ng-model="ctrl.usuarioRemitentes"
                                                  md-contacts="ctrl.querySearch($query)"
                                                  md-contact-name="Nombre"
                                                  md-highlight-flags="i"
                                                  filter-selected="ctrl.filterSelected"
                                                  placeholder="Remitente" >
                                </md-contact-chips>
                            </md-content>
                        </div><!-- /.form-group -->
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Destinatario <span class="text-danger">(*)</span></label>
                        <div style="font-size:12px" class="col-sm-12">
                            <md-content style="font-size:12px" class="autocomplete" layout="column" required>
                                <md-contact-chips ng-model="ctrl.usuarioDestinatarios"
                                                  md-contacts="ctrl.querySearch($query)"
                                                  md-contact-name="Nombre"
                                                  md-highlight-flags="i"
                                                  filter-selected="ctrl.filterSelected"
                                                  placeholder="Destinatario">
                                </md-contact-chips>
                            </md-content>
                        </div><!-- /.form-group -->
                    </div>

                    <div class="form-group">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-12">Contenido <span class="text-danger">(*)</span></label>
                            <div class="col-sm-12">
                                <textarea id="editor1" name="editor1" style="resize:none" rows="7" cols="80" class="form-control" ng-model="ctrl.DocumentoElectronicoOperacion.Memo" required>
                                    Editor de texto
                                </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    
</form>