<div class="col-md-12">
    <div class="box box-primary margin-top">
        <div class="box-header with-border">
            <h3 class="box-title">Mis Documentos Electronicos</h3>
            <button class="btn btn-default pull-right" ng-click="ctrl.CambiarVentana('CreateAndEdit')"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>      
        </div>
        <div class="box-body no-padding">
                @*<br>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Buscar Documentos">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="ctrl.CambiarVentana('CreateAndEdit')"><i class="fa fa-file fa-1x" data-placement="top" data-toggle="tooltip" title="Nuevo"></i></button>
                </div>
                <div class="col-md-2"></div>*@
            <div class="grid" ui-grid="ctrl.gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
        </div>
    </div>
</div>