<form role="form" name="frmDatos" novalidate>
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nota Proveido</h3>
                <button class="btn btn-default pull-right btn-sm" ng-disabled="frmDatos.$invalid" ng-click="ctrl.grabarComentarioProveido()"><i class="fa fa-paper-plane" data-placement="top" data-toggle="tooltip" title="Guardar"></i></button>

                <button class="btn btn-default pull-right btn-sm" ng-click="ctrl.CambiarVentana('List')"><i class="fa fa-list-alt" data-placement="top" data-toggle="tooltip" title="Documentos"></i></button>
            </div>

            <div class="box-body">

                <div class="form-group">
                    <label style="font-size:20px" class="col-sm-12">{{ctrl.operacion.TituloOperacion}}</label>
                </div>

                <div class="form-group">
                    @*<label class="col-sm-12">
                        {{ctrl.operacion.TipoDoc.DescripcionCorta}};
                        {{ctrl.operacion.Prioridad.DescripcionConcepto}};
                        {{ctrl.operacion.Estado.DescripcionConcepto}};
                        {{ctrl.operacion.FechaEnvio | date:"dd/MM/yyyy HH:mm"}};
                        <label>
                            Enviado por:
                        </label>
                        <label ng-repeat="item in ctrl.usuarioOrganizador">
                            {{item.Nombre}}
                        </label>
                    </label>*@
                </div>
                <div class="form-group">
                    @*<label class="col-sm-12">
                        Destinatarios :
                        <label ng-repeat="item in ctrl.usuarioInvitados">
                            {{item.Nombre}} ;
                        </label>
                    </label>*@

                </div>

                <div class="form-group">
                    <label class="col-sm-12">Destinatarios</label>
                    <div class="col-sm-12">
                        <md-content class="autocomplete" layout="column">
                            <md-contact-chips ng-model="ctrl.destinatarios"
                                              md-contacts="ctrl.querySearch($query, 'U')"
                                              md-contact-name="Nombre"
                                              md-highlight-flags="i"
                                              filter-selected="ctrl.filterSelected"
                                              placeholder="Destinatario">
                            </md-contact-chips>
                        </md-content>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Nota</label>
                    <div class="col-sm-12">
                        <textarea maxlength="150" ng-model="ctrl.mesavirtualComentario.ComentarioMesaVirtual" style="resize:inherit;height:60px" class="form-control" required></textarea>
                    </div>
                </div>
            </div>
            



            <div class="box-footer">

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Historial de Notas</h3>
                <button class="btn btn-default pull-right btn-sm" ng-click="ctrl.recargarComentario()"><span class="fa fa-refresh" data-placement="top" data-toggle="tooltip" title="Refrescar"></span></button>
            </div>
            <div class="box-body no-padding">
                <div class="grid" style="font-size: 12px; height: 200px" ui-grid="ctrl.gridComentarios" ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
            </div>
        </div>
    </div>


</form>

