<section class="content-header">
    <section class="content" ng-controller="documentorecibido_controller as ctrl" layout="column" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary margin-top">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documentos Recibidos</h3>
                    </div>
                    <div class="box-body no-padding">
                        <div class="grid" style="font-size: 12px; height: 400px" ui-grid="ctrl.gridOptions" ui-grid-pagination></div>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL ADJUNTOS-->
        <div class="modal fade" id="modal_adjuntos">
            <div class="modal-dialog modal-lg" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Documentos Adjuntos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Abrir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ctrl.listDocumentoAdjunto">
                                                <td>{{item.Adjunto.NombreOriginal}}</td>
                                                <td>
                                                    @*<a class="fa fa-folder-open-o" ng-href="http://192.168.100.29:85/ADJUNTOS/{{item}}" style="padding: 4px;font-size: 1.4em;" target="_blank" data-placement="top" data-toggle="tooltip" title="Abrir"></a>*@
                                                    <i class="fa fa-folder-open-o" ng-click="ctrl.mostrarAdjuntoWindows(item)" style="padding: 4px;font-size: 1.4em;" data-placement="top" data-toggle="tooltip" title="Abrir"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
@section Scripts{
    <script src="~/scripts/appjs/documentorecibido-controller.js"></script>
}



