<section class="content-header">
    <section class="content" ng-controller="" layout="column" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary margin-top">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documentos Electronicos</h3>
                    </div>
                    <div class="box-body no-padding">
                        <div class="grid" style="font-size: 12px; height: 400px" ui-grid="ctrl.gridOptions" ui-grid-pagination></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
@section Scripts{
    @*<script src="~/scripts/appjs/documentoelectronico-controller.js"></script>*@
}



