<section class="content-header">
    <section class="content">
        <div class="row">
            <br />
            <br />
            <br />
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/resources/img/fondo_docweb1c.png" style="background-size: cover" />
                        @*<img src="~/resources/img/fondo_docweb1b.png" style="background-size:cover" />*@
                        @*<script language="javascript">document.write("<IMG SRC=" + imagealeatoire() + " width=1325 height=650 >");</script>*@
                    </div>
                </div>
            </form>
        </div>

    </section>
</section>

<script language="javascript">

    //function makeArray(n) {
    //    this.length = n;
    //    for (var i = 1; i <= n; i++) {
    //        this[i] = "";
    //    }
    //    return this;
    //}
    //var i;
    //function imagealeatoire() {
    //    i = Math.floor(3 * Math.random() + 1);
    //    return image[i];
    //}
    //image = new makeArray(3);
    //image[1] = "/resources/img/fondo_docweb1b.png";
    //image[2] = "/resources/img/fondo_docweb2b.png";
    //image[3] = "/resources/img/fondo_docweb3b.png";

</script>

    <!-- Copiar dentro del tag BODY -->
    <script language="javascript">

//function VecImagenes()
//{
//  n=0;
//  this[n++] = "/resources/img/fondo_docweb1b.png";
//  this[n++] = "/resources/img/fondo_docweb2b.png";
//  this[n++] = "/resources/img/fondo_docweb3b.png";
//  this.N=n;
//}
//var Imagenes=new VecImagenes();
//src= Imagenes[ Math.floor(Math.random() * Imagenes.N) ] ;
//document.write("<IMG src="+src+">");

    </script>