<section class="content-header">
    
</section>
<section class="content">
    @if (TempData["Message"] != null)
    {
        <script>
            swal("Información", "No tiene acceso");
        </script>
    }
    <div class="row">
        <div class="col-md-12">
            <img src="~/resources/img/fondo_docweb2b.png" style="max-width:100%;height:auto" class="center-block"  />
        </div>
    </div>

</section>
